.portfolioLinks:nth-child(odd){
  background-color: #74767a;
}

.projectsSection{
  padding-bottom: 50px;
}

.portfolioLinks{
  display: grid;
  grid-gap: 30px;
  align-items: center;
  width: 100%;
  padding: 100px 20px;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  justify-content: center;
}

.projectsSection .aboutHeader span{
  width: 93%;
}

.portfolioLinks img{
  width: 325px;
  display: block;
  margin: auto;
}

button{
  background: none;
  border: solid black 3px;
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}

button:hover{
  color: #dca046;
  border: solid 3px #dca046;
  cursor: pointer;
}

.grid-left h2{
  color: #dca046;
}

.grid-left h2, .grid-right h2{
  font-size: 30px;
}

.grid-left, .grid-right{
  margin: 0% 5%;
  max-width: 700px;
}

@media (min-width: 1300px){

  .portfolioLinks{
    grid-template-columns: 1fr 1fr;
    padding: 10% 20%;
    grid-template-areas: 'left right';
    width: auto;
}

  .portfolioLinks img{
    width: 450px;
  }

  .grid-left{
    grid-area: left;
    margin: 0;
  }

  .grid-right{
    grid-area: right;
    margin: 0;
  }

  .grid-left h2, .grid-right h2{
    font-size: 35px;
    margin: 0px;
  }
  .portfolioLinks:nth-child(odd){
    grid-template-areas: 'right left';
  }

  button{
    font-size: 20px;
    padding: 10px;
  }

}