.aboutSection{
  padding-top: 50px;
  padding-bottom: 30px;
}

.mePicture{
  width: fit-content;
  margin: auto;
  text-align: center;
}

.mePicture img{
  display: block;
  margin: auto;
  width: 300px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px 2px lightgrey
}

.mePicture h1{
  font-family: 'Cinzel', serif;
  font-size: 35px;
  margin: 0;
  margin-top: 10px;
  color: #dca046;
  text-align: center;
}

.mePicture p{
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin:auto;
  letter-spacing: 1px;
}

.bio p{
  width: 80%;
  margin: auto;
  padding: 10px 0px;
}

@media (min-width: 640px){

  .aboutSection{
    padding: 100px 150px;
  }

  .mePicture img{
    height: 300px;
    width: auto;
  }

  .mePicture h1{
    font-size: 45px;
  }

  .mePicture p{
    font-size: 17px;
    width: 100%;
  }

}