.headerShell{
  width: 100%;
  margin: 0;
  background-color: #e7624d;
  color: white;
}

.headerShell h2{
  margin: 0;
  display: inline-block;
  padding: 30px 0px 30px 40px;
  font-family: 'Cinzel', serif;
  letter-spacing: 2px;
  font-size: 18px;
}